/.vs/
/packages
/AuthorizationProvider/.vs
/AuthorizationProvider/bin/
/AuthorizationProvider/obj/
/Heralabs.DAL/bin/
/Heralabs.DAL/obj/
/Heralabs.DB/bin/
/Heralabs.DB/obj/
/Heralabs/obj/
/Heralabs_LOG.DB/bin
/Heralabs_LOG.DB/obj
/RSA.Key/bin/
/RSA.Key/obj/
/RSA.Key/.vs
/Utility/bin/
/Utility/obj/
/Utility/.vs

/Heralabs.Sync/bin
/Heralabs.Sync/obj
/Heralabs.Sync/.vs
/Heralabs.Update/bin
/Heralabs.Update/obj
/Heralabs.Update/.vs
/Heralabs.DAL/.vs
/Heralabs/.vs
/Heralabs.DB/HERALABS.DB.jfm
/Heralabs/bin
/Heralabs/Logs
.vscode/settings.json
/Heralabs/Images
*.dbmdl
Heralabs/uploads/
/Heralabs/Heralabs.csproj
Heralabs.ClientManagement.Api/obj/
Heralabs.ClientManagement.Domain/obj/Heralabs.ClientManagement.Domain.csproj.nuget.dgspec.json
Heralabs.ClientManagement.Domain/obj/
Heralabs.ClientManagement.Infrastructure/obj/
Heralabs.ClientManagement.Api/.vs/
Heralabs.ClientManagement.Core/bin/
Heralabs.ClientManagement.Core/obj/
Heralabs.ClientManagement.Api/bin/
*.apk
